/* features.css */

.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
}

.icon-link > .bi {
    margin-top: .125rem;
    margin-left: .125rem;
    fill: currentcolor;
    transition: transform .25s ease-in-out;
}

.icon-link:hover > .bi {
    transform: translate(.25rem);
}

.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
}

.text-shadow-1 {
    text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25);
}

.text-shadow-2 {
    text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25);
}

.text-shadow-3 {
    text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25);
}

.card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.feature-icon-small {
    width: 3rem;
    height: 3rem;
}

/* headers.css */

.form-control-dark {
    border-color: var(--bs-gray);
}

.form-control-dark:focus {
    border-color: #FAF7FF;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
    font-size: 85%;
}

.dropdown-toggle {
    outline: 0;
}

/* pricing.css */

.container {
    max-width: 960px;
}

.pricing-header {
    max-width: 700px;
}

/* override */

.btn {
    border-radius: 4px;
    color: #FAF7FF;
    background-color: #2684ff;
    border-color: #2684ff;
}

.btn-login {
    color: #000000;
    background-color: #59daa4;
    border-color: #59daa4;
}

.card {
    border-radius: 4px;
}

.card-enterprise {
    border-color: #2684ff;
}

.card-enterprise .card-header {
    color: #FAF7FF;
    background-color: #2684ff;
}

#heroes {
    padding-top: 10em;
}

#features {
    padding-top: 7em;
}

#pricing {
    padding-top: 2em;
}

#contact {
    padding-top: 8em;
    padding-bottom: 1em;
}

#contact-form {
    padding-bottom: 5em;
}

/* auth */

.auth-card {
    border: none;
}

.auth-body {
    padding-top: 10em;
    width: 450px;
}

.auth-body button {
    width: 80%;
    background-color: #59daa4;
    color: #000000;
    border: none;
}

.auth-body button:hover {
    background-color: #59daa4;
    color: #000000;
}

.auth-body a {
    width: 80%;
    background-color: #2684ff;
    color: #FAF7FF;
    border: none;
}

.auth-body a:hover {
    background-color: #2684ff;
    color: #FAF7FF;
    border: none;
}
