<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>{% block title %}Devboard{% endblock %}</title>
    <link rel="stylesheet" href="assets/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/custom.css">
    <script src="assets/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

{% block body %}

    <main>
        {% block layout %}{% endblock %}
    </main>

{% endblock %}

</body>
</html>
